h1, h2, h3 {
    font-family: wf_segoe-ui_light,wf_segoe-ui_semilight,wf_segoe-ui_normal,HelveticaNeue-Thin,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,sans-serif;
}

#docs-navbar {
    padding: 15px 0;
    display: none;
}

#docs-navbar ul {
    list-style: none;
    padding: 0;
}

#docs-navbar .nav li a {
    border-left: 1px solid #ccc;
    display: block;
}

#docs-navbar .nav > li > a {
    padding: 8px 15px;
    font-size: 14px;
}

#docs-navbar .nav li a, #docs-subnavbar .nav li a {
    color: #707070;
}

#docs-subnavbar .nav li a {
    padding: 5px 10px;
}

#docs-subnavbar .nav > .active > a {
    color: #0072be;
    font-weight: 700;
}


/*@media all and (min-width:768px)*/
#docs-navbar, #docs-subnavbar {
    font-size: 12px;
    width: 175px;
    margin-left: -15px;
}

/*@media all and (min-width:768px)*/
.faux-h1, h1 {
    font-size: 4rem;
}

.docs h1 {
    margin-bottom: 15px;
}

/*@media all and (min-width:992px)*/
.docs h1, .edit-github a .btn {
    margin-top: 0px;
}

#docs-subnavbar {
    padding-top: 15px;
    padding-bottom: 15px;
}

/*@media all and (min-width:768px)*/
#docs-navbar, #docs-subnavbar {
    font-size: 12px;
    width: 175px;
    margin-left: -15px;
}

.faux-h4, h4 {
    font-size: 1.2rem;
    font-family: wf_segoe-ui_semibold;
    text-transform: uppercase;
}

#docs-subnavbar h4, .docs-nav h4 {
    margin-top: 0px;
}

#docs-navbar > .nav a, #docs-subnavbar h4 {
    padding-left: 10px;
}

footer {
	clear: both;
    background-color: #616161;
    color: #f2f2f2;
    text-align: left;
	min-height: 80px;
}
