<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<title>org by DmitriiKonstantin</title>

	<link rel="stylesheet" href="/org/assets/css/style.css?v=1a54ba04e655a5a1b7ead43ff6a4d984208076a8">
	<meta name="viewport" content="width=device-width">
	<!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
	<div class="wrapper">
		<header>

			<h1>org</h1>
			<p></p>

			<p class="view">
				{% for post in site.posts %}
				<a href="{{ site.path }}{{ post.url }}">{{ post.title }} <small></small></a>
				{% endfor %}
				</p>

		</header>
		<section>
			{{ content }}
		</section>
		<footer>

			<p>This project is maintained by <a href="https://github.com/DmitriiKonstantin">DmitriiKonstantin</a></p>

			<p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
		</footer>
	</div>
	<script src="/org/assets/js/scale.fix.js"></script>
</body>
</html>